{% extends 'products/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock css %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">{{ title }}</h1>
                <p>
                    Новые образы и лучшие бренды на {{ title }}.
                    Бесплатная доставка по всему миру! Аутлет: до -70% Собственный бренд. -20% новым покупателям.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg mt-2">
                    <a id="start-purchase-link" href="{% url 'products' %}">
                        Начать покупки
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

